{
  "env": {
    "development": {
      "plugins": [
       ["babel-plugin-styled-components", {
          "minify": false,
          "transpileTemplateLiterals": false
        }]
      ]
    },
    "production": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": false,
          "fileName": false
        }]
      ]
    }
  }
}
