{
  "env": {
    "development": {
      "presets": [
        [
          "@emotion/babel-preset-css-prop",
          {
            "autoLabel": true,
            "labelFormat": "[filename]" // name of the file (without extension) where css or styled expression is located.
          }
        ]
      ]
    }
  }
}
