{
  "presets": [
    [
      "next/babel",
      {
        "preset-react":
        {
          "runtime": "automatic"
        }
      }
    ]
  ],
  "plugins": [
    "inline-react-svg",
    "@babel/syntax-dynamic-import",
    "babel-plugin-macros",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
